@CHARSET "UTF-8";
@import "mysite.css";

#gallery		{ margin:20px auto;	width:540px; }
#gallery h1		{
	color: #5C5C5C;
	margin-bottom:10px;
	background:url('/mysite4/assets/images/guestbook.png') 0 0 no-repeat;
	background-size: 35px;
	padding-left:40px;
}

#gallery ul			{ width: 100% }
#gallery ul li		{
	float:left; 
	padding:2px;
	border:1px solid #ccc;
	!border-radius:3px;
	background-color:#f0f0f0;
	margin:0 0 10px 10px;
	height:114px;
	width:114px;
	overflow-y:hidden;
}
	
#gallery ul li img	{ display:none }
#gallery ul li a	{
	width:114px;
	height:114px;
	display:block;
	font-size:0;
	text-indent:-10000px;
	background-size: 114px;
	background-repeat: no-repeat;
	background-position: center center;
}

